* {
  font-family: sans-serif;
  text-decoration: none;
  list-style-type: none;
  background-color: black;
  color: white;
}

.header {
  display: inline-block;
  width: 100%;
  margin: 15px;
  margin-bottom: 35px;
}

.header li {
  margin-right: 20px;
  float: left;
}

a {
  font-weight: bold;
  color: white;
}

a:hover {
  color: grey;
}

.game, .model, .texture, .art, .draw, .pixel, .design, .page, .web, .photo, .tattoo {
  width: 100%;
  margin-bottom:50px;
}

.game h1, .model h1, .texture h1, .art h1, .draw h1, .pixel h1, .design h1, .page h1, .web h1, .photo h1, .tattoo h1 {
  margin-left: 15px;
}

.images {
  margin:auto;
  min-width:455px;
  max-width:1815px;
}

img {
  width: 450px;
  height: 253.13px;
}

footer p {
  text-align: center;
}
